*{
    font-family:  Arial, sans-serif;
}

.totalsDiv{
    border: 1px solid #212529;
    position: fixed;
    top: 100px;
    right: 20px;
    border-radius: 10px;
    
    width: 30rem;
    padding: 1.5rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.totalsDiv .myDivs{
    display: flex;
    /* align-items: center; */
    
    justify-content: space-between;
    border-bottom: 1px solid #212529;
}

.totalsDiv .myDivs p{
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 500;
}

